---
import TablePricing from "../components/TablePricing.astro";
import Layout from "../layouts/Layout.astro";
import { plans } from "../plan";
---

<Layout title="Pricing Table">
  <main>
    <h1>Pricing & Plans</h1>
    <p class="subtitle">
      Discover the plan that unlocks the transformative power of digital art and
      join our vibrant community today.
    </p>
    <TablePricing plans={plans} />
  </main>
</Layout>

<style>
  h1,
  p {
    text-align: center;
    background-image: url('/bg-pattern.png');
  }
  h1 {
    font-size: 2rem;
    font-weight: 700;
  }
  p {
    margin: 0;
    padding: 0 15rem;
    font-size: 1rem;
    font-weight: 400;
    color: #121826;
    margin-bottom: 2rem;
    text-wrap: balance;
  }
  main {
    height: 100vh;
    margin: 0;
    padding: 2rem 0;
  }
</style>
