---
interface Props {
  tier: string;
  pricing: number;
  number: number;
  storage: number;
  database?: number;
  bandwidth?: boolean;
  ssd?: boolean;
  vcpus?: boolean;
  wordpress?: boolean;
  serverSpeed?: boolean;
}

const {
  tier,
  pricing,
  number,
  storage,
  database,
  bandwidth,
  ssd,
  vcpus,
  wordpress,
  serverSpeed,
} = Astro.props;
---

<article>
	<h2>{tier}</h2>
	<span>${pricing}</span>
	<h4>Per month</h4>
	
</article>
